@font-face {
  font-family: "EBGaramond";
  src: url("../fonts/EBGaramond-VariableFont_wght.ttf") format("truetype");
}
* {
  margin: 0;
  padding: 0;
  width: 100%;
  box-sizing: border-box;
  font-family: "EBGaramond", sans-serif;
}

body {
  height: 100vh;
}

input {
  width: 100%;
  padding: 0.4em 0.8em;
  color: #D5D5D5;
  background-color: #727272;
  font-size: 18px;
  font-weight: 600;
  border-radius: 8px;
}

input::placeholder {
  color: #D5D5D5;
}

.bold {
  font-weight: bold;
}

.deco_none {
  text-decoration: none;
}

.home_page {
  display: flex;
  flex-direction: column;
}

.introduction_section {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 10px;
  height: 20vh;
  background-color: #c4c4c4;
  font-size: 20px;
  font-weight: 500;
}

.introduction_section > * {
  width: fit-content;
}

.introduction_section_register_btn {
  padding: 0.2em 0.4em;
  color: black;
  background-color: #FFA600;
  text-decoration: none;
  border-radius: 6px;
}

.introduction_section_register_btn:hover {
  background-color: #FFB56C;
}

.daily_section {
  padding: 0.8em;
  text-align: center;
}

.daily_title {
  margin-bottom: 10px;
  font-size: 28px;
}

.quiz_list_page {
  display: flex;
  flex-direction: column;
}

.quiz_list_title {
  margin-top: 0.2em;
  text-align: center;
  font-size: 34px;
}

.search_bar_section {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  padding: 0.8em 0;
}

.search_bar {
  width: 70%;
  box-shadow: 3px 3px 4px #c4c4c4;
}

.search_button {
  width: 38px;
  height: 38px;
  padding: 8px;
  background-color: #D5D5D5;
  border-radius: 8px;
  box-shadow: 3px 3px 4px #c4c4c4;
  cursor: pointer;
}

.search_button:hover {
  background-color: #c4c4c4;
}

.quiz_list_section {
  margin-top: 10px;
}

.quiz_display_height {
  height: 70vh !important;
}

.login_page {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 20px;
  height: 87.5vh;
}

.login_title {
  text-align: center;
  font-size: 26px;
}

.login_form_container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 4px;
  margin-top: 1.2em;
  padding: 0 1em;
}

.login_input_container {
  display: flex;
  justify-content: center;
  align-items: center;
  justify-content: space-between;
}

.login_label {
  width: 18%;
  text-align: center;
  font-size: 18px;
}

.login_input {
  width: 75%;
}

.login_show_btn {
  position: absolute;
  right: 26px;
  width: 20px;
  height: 20px;
  cursor: pointer;
}

.login_submit_btn {
  width: fit-content;
  margin-top: 0.8em;
  padding: 0.2em 0.6em;
  background-color: #26E400;
  font-size: 20px;
  font-weight: 600;
  border: none;
  border-radius: 8px;
  box-shadow: 1px 1px 2px #3afa13;
}

.login_submit_btn:hover {
  background-color: #3afa13;
}

.register_page {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 20px;
  height: 87.5vh;
}

.register_title {
  text-align: center;
  font-size: 26px;
}

.register_form_container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 4px;
  margin-top: 1.2em;
  padding: 0 1em;
}

.register_input_container {
  display: flex;
  justify-content: center;
  align-items: center;
  justify-content: space-between;
}

.register_label {
  width: 18%;
  text-align: center;
  font-size: 18px;
}

.register_input {
  width: 75%;
}

.register_show_btn {
  position: absolute;
  right: 26px;
  width: 20px;
  height: 20px;
  cursor: pointer;
}

.register_submit_btn {
  width: fit-content;
  margin-top: 0.8em;
  padding: 0.2em 0.6em;
  background-color: #FFA600;
  font-size: 20px;
  font-weight: 600;
  border: none;
  border-radius: 8px;
  box-shadow: 1px 1px 2px #FFB56C;
}

.register_submit_btn:hover {
  background-color: #FFB56C;
}

.header_component {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.2em 0.8em;
  background-color: #D5D5D5;
}

.header_logo {
  width: 100px;
}

.header_burger_menu {
  width: 24px;
  height: 24px;
  margin-right: 10px;
  transition: all;
  transition-duration: 0.2s;
}

.header_burger_menu:hover {
  background-color: #c4c4c4;
  border-radius: 6px;
}

.header_menu_component {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  color: white;
  background-color: rgba(0, 0, 0, 0.4);
  backdrop-filter: blur(4px);
  z-index: 20;
}

.header_menu_close_btn {
  position: absolute;
  top: 20px;
  right: 20px;
  width: 24px;
  height: 24px;
}

.nav_bar_container {
  width: 60%;
}

.nav_bar {
  display: flex;
  flex-direction: column;
  list-style: none;
}

.nav_link {
  padding: 1em 0;
  color: white;
  font-size: 30px;
  text-align: center;
  text-decoration: none;
  border-top: 1px solid white;
}

.nav_link_current {
  text-decoration: underline;
}

.nav_link:first-child {
  border: none;
}

.footer_component {
  position: fixed;
  bottom: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.6em;
  background-color: #D5D5D5;
}

.footer_component > * {
  width: fit-content;
}

.footer_copy, .footer_conditions {
  font-size: 12px;
  font-weight: bold;
}

.footer_conditions {
  cursor: pointer;
}

.footer_socials {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 4px;
}

.footer_socials_icon {
  width: 20px;
  height: 20px;
  cursor: pointer;
}

.footer_social_ytb {
  color: red;
}

.footer_social_facebook {
  color: rgb(22, 22, 177);
}

.quiz_display_component {
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 80%;
  height: 59vh;
  margin: 0 auto;
  padding: 0 0.8em 0.4em;
  overflow: auto;
}

.quiz_display_error {
  font-size: 20px;
  font-weight: 600;
  text-align: center;
}

.quiz_view_component {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 4px;
  padding: 0.4em 0.6em;
  color: black;
  background-color: #D5D5D5;
  font-size: 20px;
  text-align: center;
  border-radius: 6px;
  box-shadow: 3px 3px 4px #c4c4c4;
}

.quiz_view_star_container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.quiz_view_star {
  color: #FFF700;
  width: 28px;
  height: 28px;
}

.alert_component {
  position: absolute;
  bottom: 50px;
  right: 10px;
  width: fit-content;
  padding: 0.2em 0.6em;
  color: white;
  font-size: 20px;
  font-weight: 600;
  border-radius: 4px;
}

.alert_success {
  background-color: #26E400;
}

.alert_error {
  background-color: #DE2626;
}

/*# sourceMappingURL=index.css.map */
