@font-face {
  font-family: "EBGaramond";
  src: url("../fonts/EBGaramond-VariableFont_wght.ttf") format("truetype");
}
* {
  margin: 0;
  padding: 0;
  width: 100%;
  box-sizing: border-box;
  font-family: "EBGaramond", sans-serif;
}

body {
  height: 100vh;
}

.bold {
  font-weight: bold;
}

.deco_none {
  text-decoration: none;
}

.home_page {
  display: flex;
  flex-direction: column;
}

.introduction_section {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 10px;
  height: 20vh;
  background-color: #c4c4c4;
  font-size: 20px;
  font-weight: 500;
}

.introduction_section > * {
  width: fit-content;
}

.introduction_section_register_btn {
  padding: 0.2em 0.4em;
  color: black;
  background-color: #FFA600;
  text-decoration: none;
  border-radius: 6px;
}

.introduction_section_register_btn:hover {
  background-color: #FFB56C;
}

.daily_section {
  padding: 0.8em;
  text-align: center;
}

.daily_title {
  margin-bottom: 10px;
  font-size: 28px;
}

.header_component {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.2em 0.8em;
  background-color: #D5D5D5;
}

.header_logo {
  width: 100px;
}

.header_burger_menu {
  width: 24px;
  height: 24px;
  margin-right: 10px;
  transition: all;
  transition-duration: 0.2s;
}

.header_burger_menu:hover {
  background-color: #c4c4c4;
  border-radius: 6px;
}

.header_menu_component {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  color: white;
  background-color: rgba(0, 0, 0, 0.4);
  backdrop-filter: blur(4px);
  z-index: 20;
}

.header_menu_close_btn {
  position: absolute;
  top: 20px;
  right: 20px;
  width: 24px;
  height: 24px;
}

.nav_bar_container {
  width: 60%;
}

.nav_bar {
  display: flex;
  flex-direction: column;
  list-style: none;
}

.nav_link {
  padding: 1em 0;
  color: white;
  font-size: 30px;
  text-align: center;
  text-decoration: none;
  border-top: 1px solid white;
}

.nav_link_current {
  text-decoration: underline;
}

.nav_link:first-child {
  border: none;
}

.footer_component {
  position: fixed;
  bottom: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.6em;
  background-color: #D5D5D5;
}

.footer_component > * {
  width: fit-content;
}

.footer_copy, .footer_conditions {
  font-size: 12px;
  font-weight: bold;
}

.footer_conditions {
  cursor: pointer;
}

.footer_socials {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 4px;
}

.footer_socials_icon {
  width: 20px;
  height: 20px;
  cursor: pointer;
}

.footer_social_ytb {
  color: red;
}

.footer_social_facebook {
  color: rgb(22, 22, 177);
}

.quiz_display_component {
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 80%;
  height: 59vh;
  margin: 0 auto;
  overflow: auto;
}

.quiz_display_error {
  font-size: 20px;
}

.quiz_view_component {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 4px;
  width: 98%;
  padding: 0.4em 0.6em;
  color: black;
  background-color: #D5D5D5;
  border-radius: 6px;
  box-shadow: 3px 3px 4px #c4c4c4;
}

.quiz_view_star_container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.quiz_view_star {
  color: #FFF700;
  width: 20px;
  height: 20px;
}

/*# sourceMappingURL=index.css.map */
