.quiz_creation_page {
    @include flexCenter;
    flex-direction: column;
    height: $content-height;
}

.quiz_creation_title {
    font-size: 32px;
    text-align: center;
}

@media (min-width: 1200px) {
    .quiz_creation_page {
        width: 35%;
        margin: auto;
    }
}