.admin_user_display_component {
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 80%;
    height: 80vh;
    margin: 0 auto;
    padding: 0 0.8em 0.4em;
    overflow: auto;
}

.admin_user_display_error {
    font-size: 20px;
    font-weight: 500;
}