.comment_display_component {
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 80%;
    height: 50vh;
    margin: 0 auto;
    padding: 0 0.8em 0.4em;
    overflow: auto;
}

.comment_display_error {
    font-size: 18px;
    font-weight: 500;
}

@media (min-width: $desktop-width) {
    .comment_display_component {
        height: 53vh;
    }
}