.header_menu_component {
    @include flexCenter;
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    color: white;
    background-color: rgba(0, 0, 0, 50%);
    backdrop-filter: blur(6px);
    z-index: 20;
    user-select: none;
}

.header_menu_close_btn {
    $size: 24px;
    position: absolute;
    top: 20px;
    right: 20px;
    width: $size;
    height: $size;
    border-radius: 8px;
    @include transition;
}

.header_menu_close_btn:hover {
    background-color: rgba(255, 255, 255, 0.2);
    cursor: pointer;
}

.nav_bar_container {
    width: 60%;
}

.nav_bar {
    display: flex;
    flex-direction: column;
    list-style: none;
}

.nav_link {
    padding: 1em 0;
    color: white;
    font-size: 30px;
    text-align: center;
    text-decoration: none;
    border-top: 1px solid white;
    @include transition;
}

.nav_link:hover {
    background-color: rgba(255, 255, 255, 0.2);
}

.nav_link_current {
    text-decoration: underline;
}

.nav_link:first-child {
    $top-radius: 10px;
    border: none;
    border-top-left-radius: $top-radius;
    border-top-right-radius: $top-radius;
}

.nav_link:last-child {
    $top-radius: 10px;
    border-bottom-left-radius: $top-radius;
    border-bottom-right-radius: $top-radius;
}

@media (min-width: 1200px) {
    .header_menu_component {
        top: 60px;
        left: auto;
        right: 20px;
        width: 20%;
        height: fit-content;
        background-color: $light-gray;
        border: 2px solid $dark-gray;
        border-radius: 10px;
    }

    .header_menu_close_btn {
        display: none;
    }

    .nav_bar_container {
        width: 100%;
    }

    .nav_link {
        padding: 0.4em 0;
        color: black;
        font-weight: 500;
        border-top: 2px solid $dark-gray;
    }

    .nav_link_current {
        text-decoration: none;
        background-color: $dark-gray;
    }
}