.qa_display_question {
    font-size: 26px;
}

.qa_display_btn_container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 60%;
}

.qa_display_prev_btn {
    @include btnStyle;
    background-color: $light-blue;
    box-shadow: 1px 1px 2px $lighter-blue;
}

.qa_display_prev_btn:hover {
    @include animateScale;
    background-color: $lighter-blue;
    cursor: pointer;
}

.qa_display_next_btn {
    @include btnStyle;
    background-color: $light-green;
    box-shadow: 1px 1px 2px $lighter-green;
}

.qa_display_next_btn:hover {
    @include animateScale;
    background-color: $lighter-green;
    cursor: pointer;
}