.quiz_view_component {
    @include flexCenter;
    flex-direction: column;
    gap: 4px;
    padding: 0.4em 0.6em;
    color: black;
    background-color: $light-gray;
    font-size: 20px;
    text-align: center;
    border-radius: 6px;
    box-shadow: 3px 3px 4px $dark-gray;
    @include transition;
}

.quiz_view_component:hover {
    @include animateScale;
    background-color: $dark-gray;
}

.quiz_view_star_container {
    @include flexCenter;
}

.quiz_view_author {
    font-size: 16px;
}