.quiz_view_component {
    @include flexCenter;
    flex-direction: column;
    gap: 4px;
    padding: 0.4em 0.6em;
    color: black;
    background-color: $light-gray;
    font-size: 20px;
    text-align: center;
    border-radius: 6px;
    box-shadow: 3px 3px 4px $dark-gray;
}

.quiz_view_star_container {
    @include flexCenter;
}

.quiz_view_star {
    $size: 28px;
    color: $light-yellow;
    width: $size;
    height: $size;
}