.run_display_component {
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 80%;
    height: 57vh;
    margin: 0.6em auto 0;
    padding: 0 0.8em 0.4em;
    overflow: auto;
}

.run_display_error {
    font-size: 20px;
    font-weight: 500;
    text-align: center;
}